<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Templates</title>
</head>
<body style="background:teal">
<h1 > Learner Table </h1>
<!-- TABLE -->
<table style="background:white" align="center" width="50%" border="1px solid black" >
  <tr style="border= 10px solid black">
    <th><h2>Student Name</h2></th>
    <th><h2>Student Age</h2></th>
  </tr>
<!--  FOR LOOP -->
<!--  for each key in the dictionary declared, insert it into a value in the table-->
    {% for key in students %}
    <tr style="text-align:center" >
    <td>{{key}}</td>
    <td>{{students[key]}}</td>
  </tr>
    {%endfor%}
<!--  END of For Loop-->
</table>
</body>
</html>